<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>幸福亿家</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,target-densitydpi=high-dpi,minimal-ui " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/exhibitions/swiper.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/page.css?t=1582615270036">
    <script type="text/javascript" src="../static/js/bigData_wap.js"></script>
    <script type="text/javascript" src="../static/exhibitions/swiper.min.js?1593573541606"></script>
  </head>
  
  <body class="pageBar searchBody">
    <header id="bar" class="bar">
      <a class="home" onclick="window.history.back()">
        <img src="../static/imgs/back_icon.png" alt="">
      </a>
      <div class="topBtn">
        <div id="topMenu" class="topMenu">
          <b class="icon menuIco"><img src="../static/imgs/list_more_icon.png"></b>
          <div class="menuItem">
            <ul>
              <li>
                <a href="../index.html">首页</a>
              </li>
              <!-- <li>
                <a href="/activities/cnaf2016/activity">活动详情</a>
              </li>
              <li>
                <a href="/activities/cnaf2016/guize">投票规则</a>
              </li> -->
              <li>
                <a href="list.html">作品</a>
              </li>
              <!-- <li>
                <a href="/activities/cnaf2016/news">新闻汇总</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <!--<h1></h1>-->
      <h1>作品详情</h1>
    </header>
    <div class="detail-toupiao-btn yunpingxuan">
      <a href="javascript:;">投票</a>
    </div>
    <div class="body">
      <section id="workImg" class="workImg">
        <p class="renci">浏览人次：123123</p>
        <img src="../static/imgs/1453358173_535213.jpg" alt="嘉年华" onerror="javascript:this.src='/static/mobile/imgs/img.png'">
        <div class="fixIcon">
          <!-- <em class="icon shareIcn">&#xe608;</em> -->
          <!--检查投票状态 0:未开启投票功能； 1:未投票；2：已投票； 3：投票未开始；4：投票已结束-->
          <em class="voteIcn voteDis end yunpingxuan" style="display: block;">
            <!-- <span>投票已结束</span> -->
            <cite class="count">票数：51778</cite>
          </em>
        </div>
      </section>
      <section class="workInfo">
        <h1>嘉年华</h1>
        <!--2015-06-19修改开始-->
        <!--图片尺寸：100*100-->
        <!--2015-06-19修改结束-->
        <div class="author">
          <a class="links noLinks" href="javascript:;">
            <img src="../static/imgs/head_icon.png" alt="汤雪村" onerror="this.src='/static/mobile/imgs/nophoto2.jpg'" />
            <!--图片尺寸:100*100-->
            <div class="authorInfo">
              <h2>汤雪村</h2>
              <p>&nbsp; &nbsp; 中国画</p>
            </div>
          </a>
        </div>
        <div class="infoItem">
          <dl>
            <dt>分类</dt>
            <dd>国画</dd></dl>
          <dl>
            <dt>年代</dt>
            <dd>--</dd></dl>
          <dl>
            <dt>尺寸</dt>
            <dd>180x120cm</dd></dl>
          <dl>
            <dt>材质</dt>
            <dd>绢本</dd></dl>
          <dl>
            <dt>编号</dt>
            <dd>12618</dd></dl>
        </div>
      </section>
      <section class="txtInfo">
        <header class="title">
          <h1>作品描述
            <span>Introduction</span></h1>
        </header>
        <div class="txtSlide">
          <div class="txt htmlEdit">序号：中国画14 作品编码 1组A-14 项目名称 中国画《嘉年华》 承担主体 汤雪村 艺术门类 中国画 材质 绢本 作品尺寸 180cm*120cm</div>
          <p class="btnBox">
            <a class="btn bMore icon">
              <b>&#xe613;</b>
            </a>
          </p>
        </div>
      </section>
      <!--<section class="comment">-->
      <!--<header class="title">-->
      <!--<h1>大家来评论<span>Response</span></h1>-->
      <!--</header>-->
      <!--<div class="comWrap">-->
      <!---->
      <!--<div class="comBtn writeIcn" data-login="0">发表评论</div>-->
      <!---->
      <!--<div class="writCom" id="lablecomment">-->
      <!--<form id="forComment" name="forComment" method="post" action="/works/mobileComment/12618/">-->
      <!--<div id="comWrite" class="write">-->
      <!--<div class="comTxt"><textarea name="content" id="comInput" maxlength="50"></textarea></div>-->
      <!--<div class="btnBox"><span id="cancel">取消</span><span id="send" data-more="/works/getCommentList/12618/" >发送</span></div>-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>-->
      <!--<div class="comList" id="retcomment">-->
      <!---->
      <!---->
      <!--<dl>-->
      <!--<dt>-->
      <!--<span class="time">2016年02月19日</span><em>手机用户1773625</em>-->
      <!--</dt>-->
      <!--<dd>好好看的作品</dd>-->
      <!--</dl>-->
      <!---->
      <!--<dl>-->
      <!--<dt>-->
      <!--<span class="time">2016年02月19日</span><em>手机用户1773625</em>-->
      <!--</dt>-->
      <!--<dd>好作品值得观赏</dd>-->
      <!--</dl>-->
      <!---->
      <!--<dl>-->
      <!--<dt>-->
      <!--<span class="time">2016年02月18日</span><em>手机用户1804884</em>-->
      <!--</dt>-->
      <!--<dd>很棒</dd>-->
      <!--</dl>-->
      <!---->
      <!--<dl>-->
      <!--<dt>-->
      <!--<span class="time">2016年02月18日</span><em>手机用户1804873</em>-->
      <!--</dt>-->
      <!--<dd>好作品值得欣赏</dd>-->
      <!--</dl>-->
      <!---->
      <!--<dl>-->
      <!--<dt>-->
      <!--<span class="time">2016年02月18日</span><em>手机用户1804873</em>-->
      <!--</dt>-->
      <!--<dd>中国好作品</dd>-->
      <!--</dl>-->
      <!---->
      <!---->
      <!--</div>-->
      <!--<p class="moreCom ">-->
      <!--<a href="/works/getCommentList/12618/" class="comMore">还有<em id="totalCom" class="count">117</em>条评论</a>-->
      <!--</p>-->
      <!--</div>-->
      <!--</section>--></div>
    <!--作品大图开始-->
    <div id="zoomShow" class="zoomShow">
      <b class="close icon">
        <cite>&#xe60d;</cite></b>
      <!--<div id="imgZoom">-->
      <!--<div id="scroller" class="albumPanel">-->
      <!--<img src="https://upload1.artron.net/young/2016/0121/1453358173_535213.jpg" alt="嘉年华" onerror="javascript:this.src='/static/mobile/imgs/img.png'">-->
      <!--</div>-->
      <!--</div>-->
      <div class="swiper-container" style="width: 100%;height: 100%;">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="https://upload1.artron.net/young/2016/0121/1453358173_535213.jpg" alt="嘉年华" onerror="javascript:this.src='/static/mobile/imgs/img.png'"></div>
          </div>
        </div>
      </div>
      <div class="workTit">
        <h2>嘉年华</h2></div>
    </div>
    <!--作品大图结束-->
    <div id="shareWrap" class="shareWrap fullPage">
      <div class="share">
        <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1429672731222">
          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
          <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
          <a id="weixin" href="javascript:;" class="weixin" title=""></a>
        </div>
        <div class="btnArea cls">取消</div></div>
    </div>
    <!-- <div id="fixNav" class="fixNav">
      <div id="goTop" class="icon goTop">&#xe607;</div>
      <a id="website" href="/exhibitions/" class="icon website">&#xe605;</a>
      <a id="hatchLink" href="/" class="icon hatchIcon ">&#xe900;</a>
      <div id="tel" class="icon tel">
        <a href="tel:01080451143">&#xe609;</a></div>
    </div> -->
    <div id="guaid_weixin" class="fullPage ">
      <div class="text">
        <p class="line1">分享到微信</p>
        <p class="line2">请点击右上角。</p>
        <p class="line3">
          <em>再选择</em>[发送朋友]</p>
        <p class="line4">
          <em>或</em>[分享到朋友圈]</p></div>
      <div class="qrCode">
        <div class="qrCont">
          <!-- <img src="//qrcode.artron.net/?text=https://young.artron.net/works/12618&el=12&margin=1" data-type="jpeg"> -->
          <p class="qrInfo">保存图片，使用微信“扫一扫”分享到朋友圈</p></div>
      </div>
    </div>
    <div id="defGuaid" class="fullPage">
      <!-- <img src="/static/mobile/imgs/guaid_share.png"></div> -->
    <input id="voteLinks" type="hidden" value="/activities/checkVote/index/1021">
    <input id="inAppAct" type="hidden" value="0">
    <input id="mark" type="hidden" value="0" />
    <!-- <script>
        wx.config({
            debug: false,
            // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: wxData.appId,
            // 必填，公众号的唯一标识
            timestamp: wxData.timestamp,
            // 必填，生成签名的时间戳
            nonceStr: wxData.nonceStr,
            // 必填，生成签名的随机串
            signature: wxData.signature,
            // 必填，签名，见附录1
            jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        //function
        var shareData = {
            title: "国家艺术基金美术、书法、摄影创作人才滚动资助项目作品网上投票",
            // 分享标题
            imgUrl: "//auction3-img.artimg.net/wximg/?type=img&src=https://upload1.artron.net/young/2016/0121/1453358173_535213.jpg.square.jpg",
            // 分享图标
            desc: "",
            // 分享描述
            link: "",

            success: function() {
            // $.getScript("http://customer.home.focus.cn/proauth/ipstat/index.php?gmno=14&r= "+Math.random());
        },
        cancel: function() {

        }
        }
        wx.ready(function() {
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
            wx.onMenuShareQZone(shareData);

        });
        wx.error(function(res) {
            //alert(res.errMsg)
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });
    </script> -->
    <!-- <script src="/static/mobile/js/iscroll_zoom.js"></script> -->
    <!-- <section class="copyRight">
      <p>
        <img src="/static/mobile/imgs/copy_logo.png"></p>
      <p>Copyright&copy;2017&nbsp;artron.net</p>
    </section> -->
    <!--微信分享代码-->
    <!-- <script src="//qrcode.artron.net/weixin/check.php"></script>
    <script>!(function() {
        var oScript = document.getElementById('AFedWxShareScript'),
        localStamp = '',
        serverStamp = '',
        timestamp = '';
        if (oScript) {
          return - 1;
        }
        localStamp = window.localStorage && window.localStorage['__WX_FILE_UPDATE'] || ( + new Date() + '');
        serverStamp = window.wxData && window.wxData.WX_FILE_UPDATE;
        timestamp = serverStamp && localStamp != serverStamp ? serverStamp: localStamp;
        if (window.localStorage) {
          window.localStorage['__WX_FILE_UPDATE'] = timestamp;
        }
        oScript = document.createElement('script');
        oScript.id = 'AFedWxShareScript';
        oScript.src = ('https:' == document.location.protocol ? 'https://': 'http://') + "pubunder.artron.net/pubjs/m/weixin.min.js?" + timestamp;
        document.body.appendChild(oScript);
      })();</script> -->
    <!--统计代码-->
    <!-- <script>window._bd_share_config = {
        "common": {
          "bdSnsKey": {},
          "bdText": "",
          "bdMini": "2",
          "bdMiniList": false,
          "bdPic": "",
          "bdStyle": "0",
          "bdSize": "24"
        },
        "share": {}
      };
      with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '//pubunder.artron.net/resources/cross/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];</script> -->
      <script>
        var mySwiper = new Swiper('.swiper-container', {
          autoplay: true,
          //可选选项，自动滑动
        })

        //如果你初始化时没有定义Swiper实例，后面也可以通过Swiper的HTML元素来获取该实例
        new Swiper('.swiper-container') 
        var mySwiper = document.querySelector('.swiper-container').swiper 
        mySwiper.slideNext();
    </script>
    <script src="../static/js/page.js?149682"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script>
      $(function(){
        $('.detail-toupiao-btn').click(function(){
            alert("投票成功")
        })
        if (getQueryString('type') == 1) {
          $('.yunpingxuan').show()
        }
      })
      $(function() {
        var imgData = [],
        workImg = document.querySelector('.workImg img'),
        oClapTxt = document.getElementById('detailClap');

        AfedFn.dragLoadMore({
          obj: document.querySelector('.workShow'),
          imgData: imgData,
          htmlStr: '  <a class="imgLink" href="{{$%link%$}}">' + '    <div class="imgWrap"><img src="{{$%src%$}}" alt="{{$%title%$}}"  onerror="javascript:this.src=\'\/static\/mobile\/imgs\/img.png\'"></div>' + '      <h2>{{$%title%$}}</h2>' + '  </a>'
        });

        if (workImg) {
          initWork(workImg);
          showBigImg(workImg);
        };
        oClapTxt && clapTxt(oClapTxt);
        /*文字展开收起*/
        function clapTxt(oClapTxt) {
          var oClickArea = oClapTxt.querySelector('.listBox'),
          oTxt = oClickArea.querySelector('.htmlEdit');

          oClapTxt.open = true;
          oClickArea.addEventListener('click',
          function() {
            if (oClapTxt.open) {
              oTxt.classList.add('claped');
              setTimeout(function() {
                oTxt.style.height = oTxt.scrollHeight + 'px';
              },
              0);
            } else {
              oTxt.classList.remove('claped');
              setTimeout(function() {
                oTxt.removeAttribute('style');
              },
              0);
            }
            oClapTxt.open = !oClapTxt.open;
          },
          false);

        }
        /*作品图片初始化*/
        function initWork(workImg) {
          var winH = window.innerHeight,
          winW = window.innerWidth,
          imgH = winH - document.getElementById('bar').offsetHeight,
          oImg = new Image();

          oImg.src = workImg.src;
          oImg.onload = function() {
            if (this.complete) {
              oImg.height / oImg.width > winH / winW && oImg.height > imgH && (workImg.style.height = imgH + 'px');
            }
          }
        }
        /*图片放大*/
        function showBigImg(oWorkImg) {
          var bigLight = document.getElementById('zoomShow'),
          oCls = bigLight.querySelector('.close');

          oWorkImg.addEventListener('click',
          function() {
            document.querySelector('.body').style.display = 'none';
            // var myScroll = new IScroll('#imgZoom', {
            //       zoom: true,
            //       scrollX: true,
            //       scrollY: true,
            //       mouseWheel:true,
            //       wheelAction: 'zoom',
            //       zoomMax: 2
            //   });
            var newSwiper = new Swiper('.swiper-container', {
              zoom: true,
              //开启缩放功能
            })
            bigLight.style.display = 'block';
            document.addEventListener('scroll', AfedFn.prevent, false);
            oCls && AfedFn.bindTouch(oCls, cls);
            function cls() {
              bigLight.style.display = 'none';
              document.querySelector('.body').style.display = 'block';
              document.removeEventListener('scroll', AfedFn.prevent, false);
              newSwiper = null;
              /*  myScroll.destroy();
                      myScroll = null;*/
            }

          },
          false);

        }
      });
    </script>
    </body>
</html>