<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='description' content='' />
    <meta name='keywords' content='' />
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,target-densitydpi=high-dpi,minimal-ui ' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='format-detection' content='telephone=no' />
    <meta name='msapplication-tap-highlight' content='no' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='blank' />
    <script src='../static/js/rem.js'></script>
    <link rel='stylesheet' href='../static/css/reset.css'>
    <link rel='stylesheet' href='../static/css/cnaf.css'>
    <script type='text/javascript' src='../static/js/bigData_wap.js'></script>
	<style>
		body{
			background: #fff;
			padding: 0 1%;
		}
		.MsoNormal,.MsoNormal font,.MsoNormal span{
			font-size: 0.6rem;
			color: #666;
		}
		.MsoNormal{
			line-height: 1.2rem;
		}
		.MsoNormal b{
			font-size: 0.7;
		}
		.title1 font{
			font-size: .8rem !important;
		}
		.title1{
			padding-top: 5px;
			padding-bottom: 5px;
		}
		table tr td {
			line-height: 1.2rem;
		}
		table tr td span{
			font-size: 0.7rem !important;
		}
		.table2 tr td span{
			font-size: 0.3rem !important;
		}
		font{
			font-size: .8rem;
		}
		b{
			font-size: 0.8rem;
		}
		.tip1 font,.tip1 span{
			font-size: .6rem !important;
		}
		.Section0 p{
			line-height: 0.8rem!important;
		}
		.MsoNormal b{
			font-size: 0.7!important;
		}
		.title1 font{
			font-size: .8rem !important;
		}
		.title1{
			padding-top: 5px!important;
			padding-bottom: 5px!important;
		}
		.Section0 p span{
			font-size: 0.55rem !important;
		}
	</style>
</head>
<body style='tab-interval:21pt;text-justify-trim:punctuation;'>
	<!--StartFragment-->
    <div class='Section0'>
		<!-- <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
			<span style="font-weight:bold">活动详情——</span></p> -->
		  <p style="line-height:115%; margin:0pt; text-align:justify; text-indent:21pt">
			<span style="">为深入贯彻党的十九大和十九届二中、三中、四中全会精神，深入贯彻习近平总书记对北京重要讲话精神，落实国务院政府工作报告</span>
			<span style="font-family:Calibri; ">“</span>
			<span style="">“丰富群众精神文化生活，加强公共文化服务，使全社会充满活力、向上向善”</span>
			<span style="font-family:Calibri; ">”</span>
			<span style="">的工作要求，我市将在全市范围开展首届</span>
			<span style="font-family:Calibri; ">“</span>
			<span style="">“京颐杯”</span>
			<span style="font-family:Calibri; ">”</span>
			<span style="">社会化管理退休人员书法绘画摄影展活动。</span>
		  <p style="line-height:115%; margin:0pt; text-align:justify; text-indent:21pt">
			<span style="">活动将通过开展大型书法绘画摄影线上展览——</span>
		  <p style="line-height:115%; margin:0pt 0pt 0pt 21pt; text-align:justify; text-indent:-21pt">
			<span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span>
			<span style="">用笔墨书写中华民族一往无前、自强不息、顽强拼搏的精神品格；</span>
		  <p style="line-height:115%; margin:0pt 0pt 0pt 21pt; text-align:justify; text-indent:-21pt">
			<span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span>
			<span style="">用画笔绘制首都山水之美、人心之美、文化之美；</span>
		  <p style="line-height:115%; margin:0pt 0pt 0pt 21pt; text-align:justify; text-indent:-21pt">
			<span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span>
			<span style="">用镜头记录北京人民砥砺奋斗、逐梦前行、众志成城的感动瞬间；</span>
		  <p style="line-height:115%; margin:0pt 0pt 0pt 21pt; text-align:justify; text-indent:-21pt">
			<span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span>
			<span style="">讴歌党的领导、讴歌新时代，讴歌向上向善的社会活力，进一步强信心、暖人心、聚民心。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="font-weight:normal">（一）作品征集（2020年8月20日—9月20日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">各区可通过开展街道推荐、区域书画展等方式进行初评，并于2020年9月20日前将最终推荐的书法、绘画、摄影作品的信息填写并将电子版表格上报至市劳动服务管理中心。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="">1.作品数量</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="">东城区、西城区、朝阳区、海淀区、丰台区、石景山区每区可推荐100件作品（其中书法类60件，绘画类20件，摄影类20件）；其他区每区可推荐50件作品（其中书法类30件，绘画类10件，摄影类10件）。同时欢迎各类国有企业推荐退休人员书法、绘画、摄影作品。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="">2.作品要求</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
			<span style="">作品格式应满足《首届“京颐杯”北京市社会化管理退休人员书法绘画摄影展参赛要求》中列明的条件。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="font-weight:normal">（二）作品采集（2020年9月21日— 10月15日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">报送的书法绘画作品，由市劳服中心初步筛选后到各区进行拍摄采集。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">推荐的摄影类作品由各区汇总后统一发送至活动指定邮箱：</span>
			<span style="">happyijia@happyijia.com</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="font-weight:normal">（三）作品展示（2020年10月16日— 11月8日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">承办机构对拍摄的作品进行处理，作品图片与介绍文字上传服务器，在全市范围内开展线上展示。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">在网站开放的时间范围内，各区可通过发通知、转发链接等方式组织社会化管理退休人员进行浏览。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="font-weight:normal">（四）线上教学（2020年10月1日— 10月31日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="">承办机构通过网络直播的方式开展线上教学、线上笔会、线上点评，书法、绘画、摄影每类课程由行业专家进行授课，具体时间和方式另行通知。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="font-weight:normal">（五）作品评审</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
			<span style="font-weight:normal"></span>
			<span style="font-weight:normal">作品评审分为大众评审、专家评审两种形式：</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">1.大众评审（2020年10月16日—11月8日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">线上展览开放微信投票端口，浏览书画摄影作品的观众可对喜爱的作品进行投票（每人只能投票一次，可选择作品不超过10个），投票结果可实时查看。</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:21pt; widows:0">
			<span style="">2.专家评审（2020年11月9日— 11月12日）</span></p>
		  <p style="line-height:28pt; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:32pt; widows:0">
			<span style="">由专家对书法、绘画、摄影作品进行点评和评选，评审的过程通过网络直播的方式进行公开。评选结束后，优秀作品印制成册发放给参选人员。</span></p>
	</div>
	  <!--EndFragment-->
</body>
</html>