<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>作品列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,target-densitydpi=high-dpi,minimal-ui " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/exhibitions/swiper.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/page.css?t=1582615270036">
    <script type="text/javascript" src="../static/js/bigData_wap.js"></script>
    <script type="text/javascript" src="../static/exhibitions/swiper.min.js?1593573541606"></script>
  </head>
  
  <body class="pageBar searchBody">
    <header id="bar" class="bar">
        <a class="home" onclick="window.history.back()">
            <img src="../static/imgs/back_icon.png" alt="">
        </a>
        <div class="topBtn">
            <div id="topMenu" class="topMenu">
                <b class="icon menuIco"><img src="../static/imgs/list_more_icon.png"></b>
                <div class="menuItem">
                <ul>
                    <li>
                    <a href="../index.html">首页</a>
                    </li>
                    <!-- <li>
                    <a href="/activities/cnaf2016/activity">活动详情</a>
                    </li>
                    <li>
                    <a href="/activities/cnaf2016/guize">投票规则</a>
                    </li> -->
                    <!-- <li>
                        <a href="/activities/cnaf2016/works">作品</a>
                    </li> -->
                    <!-- <li>
                    <a href="/activities/cnaf2016/news">新闻汇总</a>
                    </li> -->
                </ul>
                </div>
            </div>
        </div>
        <h1 class="yunpingxuan">云评选</h1>
        <h1 class="yunzhanlan">云展览</h1>
    </header>
    <div class="body">
        
      <section class="caty tabs colum4">
        <ul class="fix cTags">
            <li>
                <a href="javascript:;">作品分类</a>
            </li>
          <!-- <li>
            <a href="javascript:;">作品情况</a></li> -->
        </ul>
        <div class="search-list">
            <a id="searchBtn"></a>
        </div>
        <div class="fullPage tabCont">
          <div class="cList">
            <a class="curr">全部</a>
            <a>书法</a>
            <a>绘画</a>
            <a>摄影</a>
            <!-- <a href="/activities/cnaf2016/works-18-0-36-2016-0-1/">漆画</a>
            <a href="/activities/cnaf2016/works-3-0-36-2016-0-1/">油画</a>
            <a href="/activities/cnaf2016/works-6-0-36-2016-0-1/">水彩水粉</a>
            <a href="/activities/cnaf2016/works-4-0-36-2016-0-1/">版画</a>
            <a href="/activities/cnaf2016/works-9-0-36-2016-0-1/">雕塑</a>
            <a href="/activities/cnaf2016/works-8-0-36-2016-0-1/">摄影</a></div> -->
        </div>
        <!-- <div class="fullPage tabCont">
          <div class="cList">
            <a class="curr" href="/activities/cnaf2016/works-0-0-36-2016-0-1/">全部</a>
            <a href="/activities/cnaf2016/works-0-0-36-2016-1-1/">入围作品</a>
            <a href="/activities/cnaf2016/works-0-0-36-2016-2-1/">精选作品</a></div>
        </div> -->
      </section>
      <section id="waterFall" class="waterFall fix">
        <ul class="waterCol">
            <li>
              <a href="detail.html" class="reset-link">
                <div class="identify">
                  <img src="../static/imgs/1453358175_143371.jpg.small.jpg" alt="寄梦丹霞" height="266.7675906183369">
                  <cite>获奖作品</cite>
                </div>
                <div class="yunpingxuan">
                    <a class="toupiao-btn" href="javascript:;">投票</a>
                </div>
                <div class="yunzhanlan">
                    <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                    <p class="zuopin-jianjie">
                        序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                    </p>
                </div>
            </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
              <a href="detail.html" class="reset-link">
                <div class="identify">
                  <img src="../static/imgs/1453358173_535213.jpg.small.jpg" alt="嘉年华" height="244.44444444444446"></div>
                  <div class="yunpingxuan">
                    <a class="toupiao-btn" href="javascript:;">投票</a>
                </div>
                <div class="yunzhanlan">
                    <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                    <p class="zuopin-jianjie">
                        序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                    </p>
                </div>
            </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358029_809720.jpg.small.jpg" alt="从原初到艺术之升腾—甲骨文" height="199.51907514450866"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358176_794225.jpg.small.jpg" alt="《红楼梦》组画1" height="363.3780918727915">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358024_429938.jpg.small.jpg" alt="国学名篇小楷手卷·系列创作" height="120.32"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358131_559196.jpg.small.jpg" alt="礼记" height="236.7912885662432"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358123_987622.jpg.small.jpg" alt="手机围城" height="209.33333333333334"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358020_648372.jpg.small.jpg" alt="四书·册页" height="287.68876080691643"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
          </ul>
          <ul class="waterCol">
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358026_778905.jpg.small.jpg" alt="古人书论选" height="620.9295774647887">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="https://upload1.artron.net/young/2016/0125/1453707632_109892.jpg.small.jpg" alt="传统文化名句组印1" height="394.42916915720264">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358021_789985.jpg.small.jpg" alt="李白诗歌十幅" height="376">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358015_209021.jpg.small.jpg" alt="楹联书法创作" height="128.5337726523888">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358143_901820.jpg.small.jpg" alt="陈宝琛" height="242.37037037037038">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453357970_706978.jpg.small.jpg" alt="青韵系列" height="125.33333333333333">
                    <cite>获奖作品</cite></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
            <li>
                <a href="detail.html" class="reset-link">
                    <div class="identify">
                    <img src="../static/imgs/1453358012_885644.jpg.small.jpg" alt="咏淮河诗书法创作十幅" height="460.2577030812325"></div>
                    <div class="yunpingxuan">
                        <a class="toupiao-btn" href="javascript:;">投票</a>
                    </div>
                    <div class="yunzhanlan">
                        <h3>寄梦丹霞<p class="gal">杨军</p></h3>
                        <p class="zuopin-jianjie">
                            序号：油画18 作品编码 3组E-18 项目名称 油画《陈宝琛》 承担主体 王裕亮 艺术门类 油画 材质 油画 作品尺寸 200cm*250cm
                        </p>
                    </div>
                </a>
                <em class="voteIcn voteDis end yunpingxuan">
                    <!-- <span>投票已结束</span> -->
                    <cite class="count">票数：58066</cite>
                </em>
            </li>
          </ul>
      </section>
    </div>
    <div id="searchShow" class="searchShow fullPage">
      <div class="search">
        <span id="sBtn" class="sBtn">确定</span>
        <div class="sForm">
          <n class="iconSearch icon">&#xe60a;</n>
          <input id="searchInput" type="search" placeholder="请输入作品名称或作者名称" autocomplete="off" onkeyup='javascript:cSearch(event);'></div>
      </div>
    </div>
    <!-- <div id="fixNav" class="fixNav">
      <div id="goTop" class="icon goTop">&#xe607;</div>
      <a id="website" href="/activities/cnaf2016/" class="icon website">&#xe605;</a>
      <a id="hatchLink" href="/" class="icon hatchIcon ">&#xe900;</a>
      <div id="tel" class="icon tel">
        <a href="tel:01080451143">&#xe609;</a></div>
    </div>
    <input id="voteLinks" type="hidden" value="/activities/checkVote/index/1021">
    <input id="inAppAct" type="hidden" value="0">
    <input id="router" type="hidden" value="/activities/cnaf2016/works-0-0-36-2016-0-1/" /> -->
  </body>
  <script src="../static/js/page.js?149682"></script>
  <script src="../static/js/jquery-1.11.0.min.js"></script>
    <!--下载引导开始-->
    <!--下载引导结束-->
    <script>
        // (function() {
        //     var oDownload = document.querySelector('.downloadBarBox'),
        //     oClose = oDownload.querySelector('.closeBar');
        //     oClose.addEventListener('click',
        //     function() {
        //     oDownload.style.display = 'none';
        //     },
        //     !1)
        // })()
        $(function(){
            $('.toupiao-btn').click(function(){
                alert("投票成功")
            })
            console.log(getQueryString('type'))
            if (getQueryString('type') == 1) {
                $('.yunpingxuan').show()
            } else {
                $('.yunzhanlan').show()
            }
            $('.reset-link').attr('href', 'detail.html?type='+getQueryString('type'))
            $('#searchBtn').click(function(){
                $('#searchShow').show();
            })
            $('#sBtn').click(function(){
                $('#searchShow').hide();
            })
        })
    </script>
    <script>
      /*搜索层*/
      function searchShow(oSearch) {
        var sWrap = document.getElementById('searchShow'),
        sBtn = document.getElementById('sBtn');
        sBtn.addEventListener('click',
        function() {
          searchWord();
        },
        false);
        AfedFn.lightBox(oSearch, sWrap, sBtn);
      }
      function searchWord() {
        var searchObj = document.getElementById('searchInput');
        var SearchWord = searchObj.value;
        window.location.href = "/exhibitions/works/?keyword=" + encodeURI(SearchWord);
      }
      function cSearch(e) {
        var event = window.event || e;
        if (event.keyCode == 13) {
          searchWord();
        }
      }
      function SearchClass(ClassCode) {
        var searchObj = document.getElementById('searchInput');
        var SearchWord = searchObj.value;
        if (ClassCode === 0) SearchWord = '';
        window.location.href = "?SearchWord=" + encodeURI(SearchWord) + "&ClassCode=" + ClassCode;
      }
    </script>
</html>