<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>北京市首届京颐杯-新闻详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,target-densitydpi=high-dpi,minimal-ui " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/exhibitions/exhibitions/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/page.css?t=1582615270036">
    <style>
      .newsDetail header h1{
        font-size: .8rem;
        line-height: 1rem;
      }
      .first-view-text{
        display: none;
      }
      .content {
        width: 90%;
        margin: 0 auto;
      }
      .content p{
        font-size: .7rem !important;
      }
    </style>
    <script type="text/javascript" src="../static/js/bigData_wap.js"></script>
    <script type="text/javascript" src="../static/exhibitions/swiper.min.js?1593573541606"></script>
  </head>
  
  <body class="pageBar searchBody">
    <header id="bar" class="bar">
        <a class="home" onclick="window.history.back()">
            <img src="../static/imgs/back_icon.png" alt="">
          </a>
          <div class="topBtn">
            <div id="topMenu" class="topMenu">
              <b class="icon menuIco"><img src="../static/imgs/list_more_icon.png"></b>
              <div class="menuItem">
                <ul>
                  <li>
                    <a href="../index.html">首页</a>
                  </li>
                  <!-- <li>
                    <a href="/activities/cnaf2016/activity">活动详情</a>
                  </li>
                  <li>
                    <a href="/activities/cnaf2016/guize">投票规则</a>
                  </li> -->
                  <li>
                    <a href="list.html">作品</a>
                  </li>
                  <!-- <li>
                    <a href="/activities/cnaf2016/news">新闻汇总</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
      <h1>新闻详情</h1></header>
    <div class="body">
      <article class="newsDetail">
        <header>
          <h1 class="titile"></h1>
          <!-- <p class="time">2016-05-12 11:04:55</p> -->
        </header>
        <div class="content"></div>
        <section class="ps author_name"></section>
      </article>
    </div>
  </body>
  <script src="../static/js/page.js?v=202009181502"></script>
  <script src="../static/js/jquery-1.11.0.min.js"></script>
  <script>
    newsDetail()
    function newsDetail (id) {
      var id = getQueryString('id')
      $.ajax({
        url: httpUrl+'proxyApi/detail.php?act=news&id='+id,
        type: 'get',
        success: function(res){
          if (res.code == 200) {
            var list = res.list
            $('.titile').text(list.title)
            $('.content').html(list.content)
            $('.author_name').text('作者: ' + list.author_name)
          }
        }
      })
      // this.$http({
      //   url: this.$http.adornUrl('proxyApi/detail.php?act=news'),
      //   method: 'get',
      //   params: this.$http.adornParams({
      //     id: id
      //   })
      // }).then(({ data }) => {
      //   if (data && data.code === 200) {
      //     let dataHadnle = data && data.list
      //     this.dataForm.title = dataHadnle.title
      //     this.dataForm.name = dataHadnle.author_name
      //     this.dataForm.imgs = dataHadnle.imgs
      //     this.dataForm.ueContent = dataHadnle.content
      //     this.dataForm.create_time = dataHadnle.create_time
      //   } else { }
      // })
    }
  </script>
</html>