<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,target-densitydpi=high-dpi,minimal-ui " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/exhibitions/exhibitions/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/page.css?t=1582615270036">
    <script type="text/javascript" src="../static/js/bigData_wap.js"></script>
    <script type="text/javascript" src="../static/exhibitions/swiper.min.js?1593573541606"></script>
  </head>
  
  <body class="pageBar searchBody">
    <header id="bar" class="bar">
        <a class="home" onclick="window.history.back()">
            <img src="../static/imgs/back_icon.png" alt="">
          </a>
          <div class="topBtn">
            <div id="topMenu" class="topMenu">
              <b class="icon menuIco"><img src="../static/imgs/list_more_icon.png"></b>
              <div class="menuItem">
                <ul>
                  <li>
                    <a href="../index.html">首页</a>
                  </li>
                  <!-- <li>
                    <a href="/activities/cnaf2016/activity">活动详情</a>
                  </li>
                  <li>
                    <a href="/activities/cnaf2016/guize">投票规则</a>
                  </li> -->
                  <li>
                    <a href="list.html">作品</a>
                  </li>
                  <!-- <li>
                    <a href="/activities/cnaf2016/news">新闻汇总</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
      <h1>新闻详情</h1></header>
    <div class="body">
      <article class="newsDetail">
        <header>
          <h1>国企退休人员年底纳入社会化管理后，退休福利待遇会变吗？</h1>
          <p class="time">2016-05-12 11:04:55</p></header>
        <section class="detail htmlEdit">
          <p style="text-align: center;">
            <img alt="" src="../static/imgs/newsimg1.jpeg" />
          </p>
          <p>　　近日，市人力社保局发布消息，今年年底前，本市要将尚未实行社会化管理的国有企业已退休人员移交街道和社区实行社会化管理，届时，社会化管理退休人员总量将从目前的114.1万人增加到210.4万人。</p>
          <p>　　移交街道和社区管理，跟原来的企业管理有什么不一样？退休待遇会不会降低？办事方不方便？怎么参加活动？一些老年人对此一头雾水，甚至因为担心待遇降低、“没人管”而对社会化管理心生抵触。</p>
          <p>　　
            老人们的退休待遇会不会发生变化？市人力社保局相关人员对此明确表示：退休人员原享受的补充医疗保险、医疗互助帮困等相关待遇仍然继续由移交企业按照原时间、原渠道、原标准继续予以保障。企业须在移交承诺书上盖章确认。</p>
            <h6>新闻词条：何为“企业退休人员社会化管理服务”？</h6>
          <p>企业退休人员社会化管理服务是指职工办理退休手续后，其管理服务工作与原企业分离，养老金实行社会化发放，人员移交城市街道和社区实行属地管理，由社区服务组织提供相应管理服务。</p>
          <p>这项制度是独立于企业事业单位之外的社会保障体系的重要内容，也是深化国企改革，解决企业办社会问题的重要措施。</p>
          <p>退休人员实行社会化管理之后，退休人员的养老金实行社会化发放，人事档案由属地集中保管，如果涉及到医保的手工报销、领取社会保险（保障）待遇资格认证、死亡之后家属申领丧葬补助等事宜，都可由街道政务服务中心负责办理。</p>
          <h6>报销医药费：不用跑单位 家门口就能办</h6>
          <p>“谁来管理我们其实不重要，我只是担心，离开了厂子，我们的待遇就没保障了。我们的厂子有补充医保，过年过节都有慰问品，好多福利呢。现在把我们分出去，交给街道管理，这些福利是不是就没了？我不愿去街道，我就想一辈子待在厂子里。”杨大妈在一家炼油企业工作了30多年，从她入厂那天起，自己的生老病死就跟厂子捆绑在了一起。现在要进行社会化管理，跟企业“解绑”，杨大妈一时难以接受，害怕没了依靠。</p>
          <p>　　
            其实，退休人员大可不必担心，为确保退休人员的权益，本市推行企业“承诺制”，要求对退休人员原来享受的补充医疗保险、医疗互助帮困等相关待遇仍然继续由移交企业按照原时间、原渠道、原标准继续予以保障，并在移交承诺书上盖章确认。</p>
          <p>李大妈现在住在八里庄街道，工作单位却在石景山。几年前，她参加了退休人员社会化管理，将关系转移到八里庄街道，有什么事就到家门口的便民中心办理就行了。前不久,她的医保卡不小心弄丢了，需要补办。要是按照以前企业管理的办法，她补办社保卡期间的医药费需要到原单位手工报销。这一东一西，单程就要将近30公里。退休关系移交便民服务中心以后，她再也不用坐几十公里公交车去单位跑报销了。步行几分钟就走到了便民中心，经过工作人员耐心细致的引导，她在街道社会化退休窗口拿到了报销款，逢人就说：“退休社会化以后办起事来真方便，在家门口就能办，工作人员工作效率非常高，服务态度也非常好，对我们老年人来说真是件大好事”。</p>
          <h6>退休福利待遇： 不受影响 办事查询更便利</h6>
          <p>张芳是一家央企的人事专员，负责退休人员服务及管理工作。她告诉记者，他们公司规模很大，在职职工有几万人，这么多年来，积累了大量退休人员，达到了几千人。负担这几千名退休人员的管理，是一项极其艰巨的任务。领取养老金、调整就诊医院、开具各类证明、开展文化娱乐活动……涉及到方方面面的工作，事无巨细，要占用一个人专职来做这项服务，而且人事、财务、后勤等很多部门都要跟着一起忙活，对企业来说管理成本很高。</p>
          <p>“有些退休职工住得离公司很远，岁数长了，身体也不太好，有时候还要因为一些小事往公司跑。比如，有人大老远来趟公司，其实就是想变更一下医保定点医院，为此要来回奔波几十公里。如果关系转移到居住地，社保所一般就在家门口不远的地方，他们去那里变更医院、查询信息都很便捷。”</p>
          <p>所以，张芳认为，从企业的角度，很希望通过国企退休人员社会化管理的方式，在保障现有退休职工福利待遇不受影响的情况下，让他们享受更便捷的办事服务。</p>
          <h6>档案管理服务：不用来回跑腿 手机操作一下就搞定</h6>
          <p>退休人员转为社会化管理之后，还有一件很重要的事情就是档案管理。从企业转出来以后，退休人员的档案也将随之转移到街道，今后涉及到档案事务也会通过街道来办理。</p>
          <p>一些央国企通过与第三方公司的合作，将退休人员的档案进行托管。专业的档案保管库房有智能库房管理系统，确保恒温恒湿，做到防火防盗防尘，保障安全保密性。再通过数字化加工，退休人员想要办理与档案相关的事务，就可以通过线上服务来办理了，在手机上操作一下，就能开好所需证明，省去了来回跑腿的麻烦。</p>
          <p>“昨天一天我们就接收到了合作企业移交的1000多份退休人员档案，这一批总共有6000多份。”中智外企服务分公司党委书记、总经理李云峰介绍，目前中智已与在京40余家央国企签订合作协议，在退休人员社会化管理方面，使用专业的第三方档案管理服务，既能保障专业性、规范性、安全性，也能帮助企业相关部门减轻事务性工作压力。</p>
          <h6>退休生活不耽误： “十分钟生活圈”更加丰富多彩</h6>
          <p>除了这些，退休人员社会化管理的另一个重要功能就是组织退休人员的文化教育活动，让退休人员在家门口享受到“老有所乐、老有所为”的退休生活。</p>
          <p>王大爷是个“文艺青年”，在原来单位里，退休职工的文体生活特别丰富，他很担心社会化了以后没人组织他们活动了，生活会比较单调。转移到街道以后，他发现原来的担心都是多余的。街道的便民中心将辖区内的文艺爱好者根据居住社区还有爱好特长组织到一起，定期开展爬山、歌唱、广场舞、诗朗诵等活动，不仅丰富了生活，还能让老年人能够在“十分钟生活圈”内找到志同道合的玩伴。</p>
          <p>66岁的朱小萍大妈是和平街街道便民服务中心一名社会化退休人员，来自北京汽车摩托车联合制造公司的破产企业。退休后朱大妈依然活跃在社会舞台，奉献自己的爱心。通过街道搭桥，2004年至2016年间，朱大妈分别在北京农业技术学校和劳动保障职业学院教学，培养了几百名学生取得了机械加工资格证，并在技能大赛比赛中取得了好成绩，为学生今后就业铺平了道路。</p>
          <p>朱大妈还一直热衷公益事业，参加街道组织的慰问活动，到太阳宫养老院探望老人们，为他们做心理疏导、慰问演出、包饺子、聊家常，让老人们感觉到家的温暖。今年疫情期间，朱大妈还主动报名社区志愿者，不畏严冬酷暑在社区楼宇路口执勤。

           <br/> 忙起来，自己不觉得闷了，也为社会做了贡献，朱大妈觉得，在街道管理下的退休生活，要比在原单位更加丰富多彩。</p>
        </section>
        <section class="ps">来源：北京日报客户端|记者 代丽丽</section></article>
    </div>
  </body>
  <script src="../static/js/page.js?1496825509994"></script>
</html>